node_modules
dist
build
coverage
**/*.css
**/*.eot
**/*.ttf
**/*.woff
**/*.mp4
**/*.yml
**/*.sh
**/*.conf
**/*.log
**/*.feature
**/*.Dockerfile
**/*.d.ts

Dockerfile

**/__snapshots__/*
**/serviceWorker.ts